.chip__container {
  width: 25rem;
  height: 20rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  display: none;
  border-radius: 10px;
  margin-top: 0.5rem;
}
.chip__container::-webkit-scrollbar {
  width: 0;
}
.chip__container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
